<!DOCTYPE html>
<html lang="zh" class="mdui-theme-auto">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/favicon.png">
    <title>NXU Charge</title>
    <!-- 移动端判断 -->
    <!-- <script>
        function isMobile() {
            var curURL = window.location.href;
            var sUserAgent = navigator.userAgent.toLowerCase();
            var bIsIpad = sUserAgent.match(/ipad/i) == "ipad";
            var bIsIphoneOs = sUserAgent.match(/iphone os/i) == "iphone os";
            var bIsMidp = sUserAgent.match(/midp/i) == "midp";
            var bIsUc7 = sUserAgent.match(/rv:1.2.3.4/i) == "rv:1.2.3.4";
            var bIsUc = sUserAgent.match(/ucweb/i) == "ucweb";
            var bIsAndroid = sUserAgent.match(/android/i) == "android";
            var bIsCE = sUserAgent.match(/windows ce/i) == "windows ce";
            var bIsWM = sUserAgent.match(/windows mobile/i) == "windows mobile";
            if (
            bIsIpad ||
            bIsIphoneOs ||
            bIsMidp ||
            bIsUc7 ||
            bIsUc ||
            bIsAndroid ||
            bIsCE ||
            bIsWM
            ) {
                // 移动端浏览器
                return true;
            } else {
                // PC端浏览器
                return false;
            }
        }

        isMobile() ? null : location.href = '../index.html';
    </script> -->
    <!-- 组件引入 -->
    <script type="module" src="src/index.js"></script>
</head>
<body>
    <div id="config-provider">
        <van-config-provider :theme="lightToDarkContent"></van-config-provider>
    </div>
    <mdui-top-app-bar id="top-bar" variant="small" scrolling="">
        <div id="locate-popover" style="display: flex;align-items: center;justify-content: start;">
            <van-popover style="--van-popover-action-width:200px" id="about-popover-content" :theme="lightToDarkContent" v-model:show="showPopover" :actions="actions" @select="onSelect" @MouseEvent="changeMenu()" placement="bottom-start">
                <template #reference>
                    <div style="display: flex;align-items: center;justify-content: center;padding-left: 14px;">
                        <div id="locate-icon" style="margin-right: 0.5em;">
                            <van-icon name="plus" :style="locateIcon"/>
                        </div>
                        <span>{{ locate }}</span>
                    </div>
                </template>
            </van-popover>
        </div>
        <div id="light-to-dark-div" style="display: flex;align-items: center;justify-content: center;;">
            <mdui-button-icon style="height: 20px;" id="light-to-dark" :class="lightToDarkContent" @click="lightToDark">
                <mdui-icon-light-mode--outlined id="light-outline"></mdui-icon-light-mode--outlined>
                <mdui-icon-light-mode id="light"></mdui-icon-light-mode>
                <mdui-icon-dark-mode id="dark"></mdui-icon-dark-mode>
                <mdui-icon-dark-mode--outlined id="dark-outline"></mdui-icon-dark-mode--outlined>
            </mdui-button-icon>
        </div>
        <script>
            var menu = false;
        </script>
        <div id="about-popover" style="display: flex;align-items: center;justify-content: start;">
            <van-popover id="about-popover-content" :theme="lightToDarkContent" v-model:show="showPopover" :actions="actions" @select="onSelect" @MouseEvent="changeMenu()" placement="bottom-end">
                <template #reference>
                    <div class="container" :class="container" id="container">
                        <div class="first_block" id="first"></div>
                        <div class="center_block" id="second"></div>
                        <div class="third_block" id="third"></div>
                        <div class="click"></div>
                    </div>
                </template>
            </van-popover>
        </div>
    </mdui-top-app-bar>
    <style>
        .notice-swipe {
            height: 40px;
            line-height: 40px;
        }
    </style>
    <div id="notice" style="z-index: 2000;position: fixed;top: 64px;width: 100%;">
        <van-notice-bar color="#1989fa" background="#ecf9ff" left-icon="info-o" mode="closeable" :scrollable="false" @close="onClose">
            <van-swipe
                vertical
                class="notice-swipe"
                :autoplay="3000"
                :touchable="false"
                :show-indicators="false"
            >
                <van-swipe-item>
                    行人请走人行道
                </van-swipe-item>
                <van-swipe-item>
                    过马路时请注意来往车辆
                </van-swipe-item>
                <van-swipe-item>
                    遇行人、转弯时请主动减速慢行
                </van-swipe-item>
                <van-swipe-item>
                    请尽量避免逆行
                </van-swipe-item>
                <van-swipe-item>
                    逆行时请保持较低速度靠边行驶
                </van-swipe-item>
                <van-swipe-item>
                    夜间行车请使用近光灯
                </van-swipe-item>
                <van-swipe-item>
                    照明条件差时请交替使用远近光灯
                </van-swipe-item>
                <van-swipe-item>
                    请不要随意拔取正在充电的插头
                </van-swipe-item>
                <van-swipe-item>
                    充电完成后请尽量及时移出充电区域
                </van-swipe-item>
                <van-swipe-item>
                    停车时请避免阻挡其他车辆的通行
                </van-swipe-item>
            </van-swipe>
        </van-notice-bar>
    </div>
    <div id="main">
        <div v-html="background[1]" class="build" :class='(direction == "reverse") ? "right" : "left"'></div>
                <div v-html="background[0]" class="build" :class='(direction == "reverse") ? "left" : "right"'></div>
        <van-pull-refresh
        v-model="loading"
        :success-text="successText"
        @refresh="onRefresh"
        class="pull-refresh"
        :disabled="!isTop"
        style="height: 100%;"
        :success-duration="1000"
        >
            <div id="locate">
                <div style="display: flex;justify-content: center;align-items: center;height: 100%;" v-if="pile_data_loading">
                    <van-loading size="50" vertical color="#1989fa">
                        <van-count-down style="font-weight: bold;--van-count-down-text-color:#1989fa" @finish="updateFinish()" :time="updateCountdownTime" format="ss s" />
                    </van-loading>
                </div>
                <div v-else class="column" :class="direction">
                    <div class="pile column" v-for="(pile, index) in pile_data">
                        <div class="pile-head">
                            <svg t="1679468167296" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="id2495" width="60" height="60">
                                <defs>
                                    <linearGradient id="gradual-change" x1="197.46" y1="480.76" x2="341.27" y2="336.96" gradientUnits="userSpaceOnUse">
                                        <stop offset="0" stop-color="#4796fa"/>
                                        <stop offset="0.32" stop-color="#3bc0ef"/>
                                        <stop offset="0.79" stop-color="#2fe9e3"/>
                                        <stop offset="1" stop-color="#2af9df"/>
                                    </linearGradient>
                                </defs>
                                <path d="M580.17 178.85H282.34c-14.68 0-26.59 11.9-26.59 26.59V338.4c0 14.69 11.91 26.59 26.59 26.59h297.82c14.68 0 26.59-11.9 26.59-26.59V205.45c0.01-14.69-11.9-26.6-26.58-26.6z m-26.59 132.96H308.94v-79.77h244.64v79.77z" p-id="id1" fill="currentColor"></path>
                                <path d="M489.69 542.68 h-62.81 l52.62-68.27c8.96-11.63 6.8-28.33-4.83-37.3-11.63-8.96-28.33-6.81-37.3 4.82l-85.62 111.1a26.595 26.595 0 0 0-2.8 27.97 26.594 26.594 0 0 0 23.86 14.85h66.91l-54.37 80.72c-8.2 12.18-4.98 28.71 7.2 36.91 4.56 3.07 9.72 4.54 14.83 4.54 8.55-0.01 16.94-4.12 22.08-11.74l82.29-122.17c5.49-8.15 6.04-18.67 1.42-27.34s-13.65-14.09-23.48-14.09z" p-id="id2" fill="currentColor"></path>
                                <path d="M489.69 542.68 h-62.81 l52.62-68.27c8.96-11.63 6.8-28.33-4.83-37.3-11.63-8.96-28.33-6.81-37.3 4.82l-85.62 111.1a26.595 26.595 0 0 0-2.8 27.97 26.594 26.594 0 0 0 23.86 14.85h66.91l-54.37 80.72c-8.2 12.18-4.98 28.71 7.2 36.91 4.56 3.07 9.72 4.54 14.83 4.54 8.55-0.01 16.94-4.12 22.08-11.74l82.29-122.17c5.49-8.15 6.04-18.67 1.42-27.34s-13.65-14.09-23.48-14.09z" p-id="id3" class="lighting" fill="currentColor"></path>
                                <path d="M922.4 255.87l-80.34-106.06c-8.87-11.72-25.54-14.02-37.25-5.14-11.71 8.87-14.01 25.54-5.14 37.25l74.94 98.94v378.68h-46.82V387.51c0-14.69-11.91-26.59-26.59-26.59h-77.44V170.35c0-58.54-48.25-106.17-107.56-106.17H246.31c-59.31 0-107.56 47.63-107.56 106.17v651.2H122.8c-14.69 0-26.59 11.9-26.59 26.59v85.09c0 14.69 11.91 26.59 26.59 26.59h616.92c14.69 0 26.59-11.9 26.59-26.59v-85.09c0-14.69-11.91-26.59-26.59-26.59h-15.95V414.11h50.85v272.02c0 14.69 11.91 26.59 26.59 26.59h99.99c14.68 0 26.59-11.9 26.59-26.59v-414.2c0.01-5.8-1.89-11.44-5.39-16.06zM713.12 906.64H149.39v-31.91h563.74v31.91z m-521.19-85.09v-651.2c0-29.21 24.39-52.99 54.38-52.99H616.2c29.99 0 54.38 23.77 54.38 52.99v651.2H191.93z" p-id="id4" fill="currentColor"></path>
                            </svg>
                            <p class="pile-message">{{ index + 1 }}号桩</p>
                            <p class="pile-no">No.{{ pile[0] }}</p>
                        </div>
                        <div class="port-main row">
                            <div class="port-part column" v-for="(part, index1) in pile">
                                <div class="port" :value="index + '-' + index1 + '-' + index2" v-for="(port, index2) in part" v-if="index1 != 0" :class='(port.enable) ? "free" : ((port.time <= 300000 && port.time > 0) ? "tofree" : "using")'>
                                    <svg t="1679473346279" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="id6349" width="30" height="30">
                                        <path d="M753.152 479.4368H613.376c-12.5952 0-22.2208-11.3664-20.1728-23.7568l49.7664-304.8448c3.2768-19.968-21.4016-32.0512-35.2256-17.3056L255.8976 510.0544c-12.1856 13.1072-2.9696 34.5088 14.9504 34.5088H410.624c12.5952 0 22.2208 11.3664 20.1728 23.7568l-49.7664 304.8448c-3.2768 19.968 21.4016 32.0512 35.2256 17.3056l351.8464-376.5248c12.288-13.1072 2.9696-34.5088-14.9504-34.5088z" p-id="id6350"></path>
                                    </svg>
                                    <div class="port-message">
                                        <p>端口 {{ (index1 - 1 == 0) ? (index2 + 1) : (index2 + 6) }}</p>
                                        <p class="status" v-if="port.time > 0">
                                            <van-count-down style="color: grey" :value="port" :time="port" @finish="onFinish(index + '-' + index1 + '-' + index2)" />
                                        </p>
                                    </div>
                                    <div class="port-fill" style="width: 0.3em;" v-if="port > 0"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </van-pull-refresh>
        <!-- <van-skeleton style="margin-top: 1em;" title :row="10" /> -->
        <van-floating-bubble :gap="12" magnetic="x" axis="lock" v-model:offset="offset" :icon='(direction == "reverse") ? "ascending" : "descending"' @click="bubbleOnClick" />
    </div>
    <!-- <div id="overlay">
        <van-overlay z-index="9999" :show="show" @click="show = false">
            <div class="overlay-wrapper">
                <div class="overlay-block"></div>
            </div>
        </van-overlay>
    </div> -->
    <mdui-navigation-bar id="footer" value="item-1" style="height: 40px;display: flex;align-items: center;justify-content: center;">
        <p>Powered by H</p>
        <p class="separator">|</p>
        <a id="version" href="/main/update">Version {{ VERSION }}</a>
        <p class="separator">|</p>
        <a href="https://support.qq.com/product/533385">问题反馈</a>
    </mdui-navigation-bar>
</body>
</html>
